cmake-build-ucrt64-debug/
cmake-build-ucrt64-release/
cmake-build-debug/
cmake-build-openblas-haswell/
build-sanitizers/
buildd-asan/
.cache/
.idea/
examples/*.exe
run.exe
*.bat
*.json
.vscode/
bin/
build/
*.chk
*.weights
*.gcda
*.gcno
*.profraw
